
<!doctype html>
<html lang="en">
    <head>
                
    
        <title>PATIENTS WITH GENDER:<%= patientData[0].Gender %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
         
            .table1{
                border-collapse: collapse;
                margin: 25px;
                font-size: 12px;
                min-width:400px;
                border-radius :5px 5px 0 0;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(0,0,0,0.15 )
            }

            .table1 th{
                background-color:#009879;
                color:aliceblue;
                text-align: left;
                font-weight:bold;
                padding:14px 12px;}
            .table1 td{
                padding:12px 15px;
                }   
            .table1 tr{
                border-bottom:1px solid #dddd;
            }
            .table1 tr:nth-of-type(even){
                background-color: #f3f3f3;
             }
            .table1 tr:last-of-type{
                border-bottom: 2px solid #009879;
            }
            .table1 tr:active-row{
                font-weight: bold;
                color:#009879;
            }
            h1{
                text-align:center;
                font: size 45px;
                color:#009879;
                font-family: 'Bacasime Antique', serif;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"> PATIENT  BY GENDER:<%= patientData[0].Gender %></h1>
            
            <% if(action == 'add') { %>

            <% } else { %>

                <br><br><hr><br><br>
         
                <br><br>
                <table class="table1">
                    <tr>
                        <th>Patients SSN</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Year of birth</th>
                        <th>Location</th>
                        <th>Email</th>
                        
                    </tr>
            
                            <%
                            if(patientData.length > 0)
                            {
                                patientData.forEach(function(data){
                            %>
                            <tr>
                                <td><%= data.SSN %></td>
                                <td><%= data.Pfname %></td>
                                
                                <td><%= data.Plname %></td>
                                <td><%= data.Gender %></td>
                                <td><%= data.YearofBirth %></td>
                                <td><%= data.Address %></td>
                                <td><%= data.email %></td>
                                
                                
                                
                                       

                                
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Patient Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    
                
            

            <% } %>

        </div> 
    </body>