<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PURHCASE OF:<%= salesData[0].Pfname %> <%= salesData[0].Plname %></title>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/javascripts/tables.css">
        <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
     
        .table1{
            border-collapse: collapse;
            margin: 25px;
            font-size: 12px;
            min-width:400px;
            border-radius :5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0,0,0,0.15 )
        }

        .table1 th{
            background-color:#009879;
            color:aliceblue;
            text-align: left;
            font-weight:bold;
            padding:14px 12px;}
        .table1 td{
            padding:12px 15px;
            }   
        .table1 tr{
            border-bottom:1px solid #dddd;
        }
        .table1 tr:nth-of-type(even){
            background-color: #f3f3f3;
         }
        .table1 tr:last-of-type{
            border-bottom: 2px solid #009879;
        }
        .table1 tr:active-row{
            font-weight: bold;
            color:#009879;
        }
        h1{
            text-align:center;
            font: size 45px;
            color:#009879;
            font-family: 'Bacasime Antique', serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3"> PURCHASES OF:<%= salesData[0].Pfname %> <%= salesData[0].Plname %></h1>
        
        <% if(action == 'add') { %>

        <% } else { %>

            <br><br><hr><br><br>
     
            <br><br>
            <table class="table1">
                <tr>
                    
                    <th>Sales ID</th>
                    <th>Date Purchased</th>
                    <th>Trade Name</th>
                    <tH>Dosage</th>
                    <th>Pharmacys Phone Number</th>
                    <th>Pharmacys Name</th>
                    <th>Pharmacist SSN</th>
                    <th>Pharmacist's First Name</th>
                    <th>Pharmacist's Last Name</th>
                    <th>Patient's SSN</th>
                    <th>Patients first name</th>
                    <th>Patient last name</th>
                    
                    
                </tr>
        
                        <%
                        if(salesData.length > 0)
                        {
                            salesData.forEach(function(data){
                        %>
                        <tr>
                            <td><%= data.SalesID %></td>
                            <td><%= data.DatePurchased %></td>
                            <td><%= data.TradeName %></td>
                            <td><%= data.Dosage %></td>
                            <td><%= data.PharPhoneNo %></td>
                            <td><%= data.PharName %></td>
                            <td><%= data.PharSSN %></td>
                            <td><%= data.Pharfname %></td>
                            <td><%= data.Pharlname %></td>
                            <td><%= data.SSN %></td>
                            <td><%= data.Pfname %></td>
                            <td><%= data.Plname %></td>
                            
                            
                            
                                   

                            
                        </tr>
                        <%
                            });
                        }
                        else
                        {
                        %>
                        <tr>
                            <td colspan="5">No Purchase Found</td>
                        </tr>
                        <%
                        }
                        %>
                    </table>
                
            
        

        <% } %>

     </div> 
     </body>

</html>